{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!--<meta http-equiv="refresh" content="2">-->
        <meta charset="utf-8">
        <title>AZTEC LIFESCIENCE</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        
        <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    </head>
    <body>
        <style>
            
            .navbar{
                height:100px;
                width:100vw;
                background:linear-gradient(90deg, #FFF 20%, #000000 100%);
                border-bottom-width:2px;
                border-bottom-color: rgb(27, 143, 16);
                box-shadow: 0px 4px 4px 4px #d4d4d4;
                display:grid;
                align-items: center;
                grid-template-columns: 1fr 9fr 3fr;
            }
            
        </style>
    
        <div class='navbar'>
            <img src="{% static 'logo.png' %}"/>
            <div>
                <div style='font-size:30px;'><b>AZTEC LIFESCIENCE PVT. LTD.</b></div>
                <div style='font-size:20px;'>Management Software</div>
            </div>
            <div style='text-align:right; color:#FFF; margin-right:20px; font-size:20px;'>
                - Made By<br/>
                Aaditya Raj
            </div>
        </div>
        <hr class='nav-line'/>


        {% block content %}

        {% endblock %}
        
    </body>
</html>