{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'viewinv.css' %}">

<a href='{% url "home" %}' class='home'>Home Page</a>
<div style='font-size:30px; padding-left:10px;margin-top:10px;'>
Invoice Number: <b>{{ inv.invoicenumber }}</b><br/>
<span style='font-size:20px;'>Name: <b>{{inv.costumer.name}}</b></span>
</div>
<div class='inv-part'>
  <div>

    <div class='inv-info'><!--content-->
      <div style='font-size:18px;'>
        <b>Address:</b><br>{{inv.costumer.addressLine_1}},<br/>
        {% if inv.costumer.addressLine_2 != '' %}
        {{inv.costumer.addressLine_2}},<br/>
        {% endif %}
        {% if inv.costumer.addressLine_3 != '' %}
        {{inv.costumer.addressLine_3}},<br/>
        {% endif %}
        {{inv.costumer.city}}<br/>
        {{inv.costumer.mbno}}
      </div>
      <div style='font-size:18px; text-align:right;'>
        <span>Date : <b>{{inv.date}}</b> </span> <br/>
        <span>GST.ID : <b>{{inv.costumer.gstid}}</b></span><br/>
        <span>DL.No : <b>{{inv.costumer.dlno}}</b></span> 
      </div>
    </div>

    <!--Inv Entries-->
    <div style='margin-top:10px;'>
      <table>
        <thead style='font-size:17px;'>
          <tr>
            <th style='width:10px;'>S.No.</th>
            <th>Description</th>
            <th>Pack</th>
            <th>Mfg. By</th>
            <th>Batch No.</th>
            <th>Expiry</th>
            <th>QTY</th>
            <th>RATE</th>
            <th>MRP</th>
            <th style='text-align:right;'>Amount</th>
          </tr>
        </thead>
        <tbody>
          
          {% for en in ent %}
          {% with temEn=ent|dictVal:en %}
          
          
            <tr onclick="deleteInvoice(`{% url 'del-temp-rate-ent' temEn.id %}`)">
              <td>{{ en }}</td>
              <td>{{ temEn.product.product.name|upper }}</td>
              <td>{{ temEn.product.product.volume }}</td>
              <td>{{ temEn.product.product.manufacturer }}</td>
              <td>{{ temEn.product.batch }}</a></td>
              <td>{{ temEn.product.expiry|date:"m/Y" }}</td>
              <td>{{ temEn.qty }}</td>
              <td>{{ temEn.rate }}</td>
              <td>{{ temEn.mrp }}</td>
              <td style='text-align:right;'>
                {{ temEn.qty|multiply:temEn.rate|intcomma}}
              </td>
            </tr>
          
          {% endwith %}
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    <div class='total'>
      <div style='text-align:left'><b>Total Quantity:</b> {{qty}}</div>
      <div style='display:flex;justify-content:flex-end;'>
        
          <table class='total-table'>
            <tbody style='border:none'>
              <tr>
                <td><b>Sub-Total: </b></td>
                <td>{{amt|intcomma}}</td>
              </tr>
              <tr>
                <td><b>CGST {{inv.gstrate}}%: </b></td>
                <td>{{amt|gstrate:inv.gstrate|intcomma}}</td>
              </tr>
              <tr>
                <td><b>SGST {{inv.gstrate}}%: </b></td>
                <td>{{amt|gstrate:inv.gstrate|intcomma}}</td>
              </tr>
              <tr>
                <td><b>Total: </b></td>
                <td>{{amt|total:inv.gstrate|intcomma}}</td>
              </tr>
            </tbody>
          </table>

      </div>
    </div>

    <div style='font-size:20px;margin-top:20px;'>
      Net Payable: <b>₹ {{amt|total:inv.gstrate|round|intcomma}} /-</b><br/>
      <b> Rs. {{amt|total:inv.gstrate|round|num_words}} Only</b>
      <div style='margin-top:20px;'>
        <a onclick="confirmMSG()" class='submit'>Save Invoice</a>
      </div>
    </div>

  </div>

  
  <div style='background-color:rgb(255, 255, 255); padding:15px; margin-left:120px; margin-right:80px; box-shadow:3px 3px 0px 0px rgba(0,0,0,0.2); border-radius:10px;border:3px solid rgba(67, 109, 57, 0.693)'>
    <form method='POST' id='myform'>
      {% csrf_token %}
      <div>
        <div style='font-size:24px'><b>Add a Product to this invoice</b></div>
        <div style='display:grid; grid-template-rows:25px 49px 25px auto; margin-top:10px;'>
          <div class='hint'>Product:</div>
          <div>
            <select name='product' id='product' class='input-option'>
              <option value='none'>Select a Product</option>
              {% for product in products %}
              <option value='{{product.name}}'>{{product}}</option>
              {% endfor %}
            </select>
          </div>

          <div class='hint'>Stock:</div>
            <div>
              <select name='stock' id='stock' class='input-option'>
              <option value='none'>Select a Stock</option>
              </select>
            </div>
          </div>
        </div>
        <div id='stockDetails' style='display:grid; margin:10px; grid-template-columns:1fr 1fr; grid-template-rows: auto auto; grid-column-gap:10px; grid-row-gap:3px; font-size:18px;'>

        </div>
        <div style='display:grid; grid-template-columns:1fr 1fr; margin-bottom:10px;'>
          <div>
            <div class='hint'>MRP:</div>
            <input type='text' class='input-option' style='width:100px; margin-bottom:10px;' name='mrp' id='mrp' placeholder="MRP"/><br/>
            <div class='hint'>RATE:</div>
            <input type='text' class='input-option' style='width:100px;margin-bottom:10px;' name='rate' placeholder="RATE" id='rate'/>
          </div>
          <div>
            
            <div class='hint'>QTY:</div>
            <input type='number' class='input-option' style='width:100px;margin-bottom:20px;' name='qty' placeholder="QTY" id='qty'/>
          
          </div>
        
        <input type='submit' class='submit' style='border:none' value='Add Entry'>
    </form>
    </div>
  </div>
</div>


<script>

  var jsonData = JSON.parse('{{ json_stock|safe }}')
  function confirmMSG() {
    const conf = confirm('Are you sure you want to Save this invoice? \nOnce saved, cant be edited again.')
    if (conf){
      window.location.href = "{% url 'save-rate-inv' inv.id %}"
    }
  }

  function deleteInvoice(locat){
    const conf = confirm('Are you sure you want to delete this entry!');
    if (conf){
      window.location.href = locat
    }  
  }
  
  const stock = document.getElementById('stock');
  
  const product = document.getElementById('product');
  product.addEventListener('change', function() {
      const selectedValue = this.value;
  
      let filtered = [];
      for (var i=0; i<jsonData.length; i+=1){
        if (selectedValue == jsonData[i].name){
        filtered.push(jsonData[i]);
        }
      }
      /* stock select options */
      
      for (let i = stock.options.length - 1; i > 0; i--) {
        stock.remove(i);
      }
      for (let i=0; i<filtered.length; i++){
        const newOption = document.createElement('option');
        let fil = filtered[i];
        newOption.value = fil.id;
        newOption.textContent = `Batch-${fil.batch}, Expiry-${fil.expiry}`;
        stock.appendChild(newOption);
      }
  });
  
  var x = 0;
  
  const stockDetails = document.getElementById('stockDetails')
  stock.addEventListener('change',function(){
     while (stockDetails.firstChild){
      stockDetails.removeChild(stockDetails.firstChild);
     }
     
     for (let i=0; i<jsonData.length; i++){
      if(jsonData[i].id == stock.value ){
        const stockInfo1 = document.createElement('div');
        stockInfo1.textContent = `Name: ${jsonData[i].name}`;
        const stockInfo2 = document.createElement('div');
        stockInfo2.textContent = `Batch: ${jsonData[i].batch}`;
        const stockInfo3 = document.createElement('div');
        stockInfo3.textContent = `Expiry: ${jsonData[i].expiry}`;
        const stockInfo4 = document.createElement('div');
        stockInfo4.textContent = `Quantity: ${jsonData[i].quantity}`;
        stockDetails.appendChild(stockInfo1);
        stockDetails.appendChild(stockInfo2);
        stockDetails.appendChild(stockInfo3);
        stockDetails.appendChild(stockInfo4);
        x = i
      }
     }
  });
  
  /* hint text */
  const mrp = document.getElementById('mrp');
  const rate = document.getElementById('rate');
  const qty = document.getElementById('qty');
  
  function eventMSG(event, msg){
      let chck = Number(event.value);
      if (isNaN(chck) == true){
          alert(`${msg} must be a number!`)
          event.value='';
      }
  }
  
  
  mrp.addEventListener('change', function(){
      eventMSG(mrp, 'MRP')
  });
  rate.addEventListener('change', function(){
      eventMSG(rate, 'RATE')
  });
  
  
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("myform");
    
    form.addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        
        const product = document.getElementById("product");
        const stock = document.getElementById("stock");
        const mrp = document.getElementById("mrp");
        const rate = document.getElementById("rate");
        const qty = document.getElementById("qty");

        
        
  
        if (product.value != 'none' && stock.value != 'none' && mrp.value !='' && qty.value != '' && rate.value !='') {
          
          if (jsonData[x].quantity<Number(qty.value)){
            alert('Quantity must be less than or equal to the displayed quantity!');
            qty.value = 0;
          } else{
          form.submit();
          }
        } else{
          alert('Please Fill All the Required Fields !');
          location.reload(true);
        }
        
        
    });
  });
</script>

{% endblock %}